@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#comparison-result {
    font-size: 30px;
    display: None;
    margin: 1%;
    padding: 10px;
    border-radius: 10px;
}

.true {
    background-color: #b4edb4;
    border: 2px solid green;
}

.false {
    background-color: #f0b2a5;
    border: 2px solid red;
}
